#welcome {
  padding-top:0;
  margin-top:0;
  line-height: 1;
}

h5 {
  margin-left: 10px;
  border-top: solid #ccc 1px;
}

.container {
  width: 85%;
  float: right;
}

.sister {
  margin-left: 50px;
}

#sidenav li, .oldnav li {
  list-style: none;
}

.oldnav {
  display: inline-block;
}

#sidenav {
  width: 175px;
  float: left;
  background-color: #eee;
}
